<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>  <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>  <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>  <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= quote[:quote] %></title>
  <meta name="description" content="The one place on Internet for sales inspiration.">
  <meta name="author" content="Jonny Strömberg">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Open graph -->
  <% if start %>
    <meta property="og:title" content="A-B-C. A-always, B-be, C-closing. Always be closing!" />
    <meta property="og:url" content="http://closingweek.com" />
  <% else %>
    <meta property="og:title" content="<%= quote[:quote] %>" />
    <meta property="og:url" content="http://closingweek.com/<%= quote[:link] %>" />
  <% end %>
  <meta property="og:description" content="The one place on Internet for sales inspiration." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://closingweek.com/images/facebook.png" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="/images/favicon.png">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">

  <!-- Google Analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8204597-4']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div class="container">
    <div class="quote">
      <h1 id="quote-text"><%= quote[:quote] %></h1>

      <button id="play">Play</button><br>

      <audio autoplay>
        <source src="/mp3/<%= quote[:file] %>.mp3" type="audio/mpeg">
      </audio>

    </div>

    <a class="random" href="/random">Play random</a>

    <div class="navigation">
      <a <% if quote[:link] == 'a-sell-is-mad' %>class="active"<% end %> href="/a-sell-is-mad">A Sell Is Made</a>
      <a <% if quote[:link] == 'a-sell-is-made-on-every-call' %>class="active"<% end %> href="/a-sell-is-made-on-every-call">A Sell Is Made On Every Call</a>
      <a <% if quote[:link] == 'abc-always-be-closing' %>class="active"<% end %> href="/abc-always-be-closing">Abc Always Be Closing</a>
      <a <% if quote[:link] == 'become-a-millionaire' %>class="active"<% end %> href="/become-a-millionaire">Become A Millionaire</a>
      <a <% if quote[:link] == 'become-filthy-rich' %>class="active"<% end %> href="/become-filthy-rich">Become Filthy Rich</a>
      <a <% if quote[:link] == 'call-me-tomorrow' %>class="active"<% end %> href="/call-me-tomorrow">Call Me Tomorrow</a>
      <a <% if quote[:link] == 'coffee-is-for-closers-only' %>class="active"<% end %> href="/coffee-is-for-closers-only">Coffee Is For Closers Only</a>
      <a <% if quote[:link] == 'dead-fucking-serious' %>class="active"<% end %> href="/dead-fucking-serious">Dead Fucking Serious</a>
      <a <% if quote[:link] == 'do-not-make-friends' %>class="active"<% end %> href="/do-not-make-friends">Do Not Make Friends</a>
      <a <% if quote[:link] == 'dont-waste-my-fucking-time' %>class="active"<% end %> href="/dont-waste-my-fucking-time">Dont Waste My Fucking Time</a>
      <a <% if quote[:link] == 'fifteen-thousand-dollars' %>class="active"<% end %> href="/fifteen-thousand-dollars">Fifteen Thousand Dollars</a>
      <a <% if quote[:link] == 'first-million' %>class="active"<% end %> href="/first-million">First Million</a>
      <a <% if quote[:link] == 'fuck-you-mom-and-dad' %>class="active"<% end %> href="/fuck-you-mom-and-dad">Fuck You Mom And Dad</a>
      <a <% if quote[:link] == 'fuck-you-thats-my-name' %>class="active"<% end %> href="/fuck-you-thats-my-name">Fuck You Thats My Name</a>
      <a <% if quote[:link] == 'get-on-the-phone' %>class="active"<% end %> href="/get-on-the-phone">Get On The Phone</a>
      <a <% if quote[:link] == 'get-out-of-the-rain' %>class="active"<% end %> href="/get-out-of-the-rain">Get Out Of The Rain</a>
      <a <% if quote[:link] == 'good-father-fuck-you' %>class="active"<% end %> href="/good-father-fuck-you">Good Father Fuck You</a>
      <a <% if quote[:link] == 'i-am-a-fucking-millionair' %>class="active"<% end %> href="/i-am-a-fucking-millionair">I Am A Fucking Millionair</a>
      <a <% if quote[:link] == 'i-drive-a-ferrari' %>class="active"<% end %> href="/i-drive-a-ferrari">I Drive A Ferrari</a>
      <a <% if quote[:link] == 'if-you-are-drowning' %>class="active"<% end %> href="/if-you-are-drowning">If You Are Drowning</a>
      <a <% if quote[:link] == 'just-get-a-yes' %>class="active"<% end %> href="/just-get-a-yes">Just Get A Yes</a>
      <a <% if quote[:link] == 'learn-how-to-push' %>class="active"<% end %> href="/learn-how-to-push">Learn How To Push</a>
      <a <% if quote[:link] == 'money-hungry' %>class="active"<% end %> href="/money-hungry">Money Hungry</a>
      <a <% if quote[:link] == 'money-problems' %>class="active"<% end %> href="/money-problems">Money Problems</a>
      <a <% if quote[:link] == 'no-such-thing-as-a-no-sell-call' %>class="active"<% end %> href="/no-such-thing-as-a-no-sell-call">No Such Thing As A No Sell Call</a>
      <a <% if quote[:link] == 'only-one-thing-counts-in-this-life' %>class="active"<% end %> href="/only-one-thing-counts-in-this-life">Only One Thing Counts In This Life</a>
      <a <% if quote[:link] == 'required-to-work-your-fucking-ass-off' %>class="active"<% end %> href="/required-to-work-your-fucking-ass-off">Required To Work Your Fucking Ass Off</a>
      <a <% if quote[:link] == 'root-of-all-evil' %>class="active"<% end %> href="/root-of-all-evil">Root Of All Evil</a>
      <a <% if quote[:link] == 'sales-contest' %>class="active"<% end %> href="/sales-contest">Sales Contest</a>
      <a <% if quote[:link] == 'that-watch-cost-more-than-your-car' %>class="active"<% end %> href="/that-watch-cost-more-than-your-car">That Watch Cost More Than Your Car</a>
      <a <% if quote[:link] == 'they-say-money-cant-buy-happiness' %>class="active"<% end %> href="/they-say-money-cant-buy-happiness">They Say Money Cant Buy Happiness</a>
      <a <% if quote[:link] == 'think-about-another-career' %>class="active"<% end %> href="/think-about-another-career">Think About Another Career</a>
      <a <% if quote[:link] == 'thrity-fourty-precent-returns' %>class="active"<% end %> href="/thrity-fourty-precent-returns">Thrity Fourty Precent Returns</a>
      <a <% if quote[:link] == 'vacation-time' %>class="active"<% end %> href="/vacation-time">Vacation Time</a>
      <a <% if quote[:link] == 'you-cant-close-shit' %>class="active"<% end %> href="/you-cant-close-shit">You Cant Close Shit</a>
      <a <% if quote[:link] == 'you-got-leads' %>class="active"<% end %> href="/you-got-leads">You Got Leads</a>
      <a <% if quote[:link] == 'your-fired' %>class="active"<% end %> href="/your-fired">Your Fired</a>
      <a <% if quote[:link] == 'your-friends-are-shit' %>class="active"<% end %> href="/your-friends-are-shit">Your Friends Are Shit</a>
    </div>

    <div class="share">
      <div class="share-btn">
        <a href="https://twitter.com/javve" class="twitter-follow-button" data-show-count="false">Follow @javve</a>
      </div>

      <div class="share-btn" style="width: 77px;">
        <a href="https://twitter.com/share" class="twitter-share-button"
          data-text="<%= quote[:quote] %>"
          data-url="http://closingweek.com/<%= quote[:link] %>">Tweet</a>
      </div>

      <div class="share-btn">
        <div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false" data-font="arial"
          data-width="100"
          data-href="http://closingweek.com/<%= quote[:link] %>"></div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="javascripts/scripts.js"></script>

  <!-- Social -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
</body>
</html>
